/* ===== LAYOUT CONTAINERS ===== */
.stat-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.stat-page-content {
    flex: 1;
    width: 100%;
    max-width: 100%;
    margin-top: 200px;
    padding: 2rem;
    box-sizing: border-box;
}

.stats-container {
    width: 100%;
    max-width: 100%;   
    padding: 10px;
    overflow-x: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* ===== HEADER & NAVIGATION ===== */
.stat-page-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      background-color: #2c3e50;
      color: white;
}

/* ===== CHART CONTAINER ===== */
.chartViewContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 100vh; /* Prend toute la hauteur de la vue */
}

/* ===== TOP BAR ===== */
.topBar {
    position: sticky;
    min-height: 100px;
    top: 0;
    z-index: 1000;
    background-color: #f0f8ff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rightControlsContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}
.StatViewbutton{
    width: 350px;
    height: 40px;
    padding: 0.5rem 1rem;
    margin-right: 20px;
    background-color: #195074;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.372);
}
.StatViewbutton:hover{
     background-color: #2980b9;
}
.label{
    background-color: #3498db;
    border: solid 1px;
    border-radius: 4px;
    padding: 2px;
    color: white;
}



/* ===== BUTTONS ===== */
.back-button {
    padding: 0.5rem 1rem;
    height: 40px;
    background-color: #054a77;    
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #2980b9;
}

/* ===== StatPAgeView CONTAINER ===== */
.StatPageViewPage{
    width: 100%;
    height: 100%;
    background-color: #43414121;
}


