/* ===== Stat page Acceuil CONTAINER ===== */
.stat{

}

.header-stat-acceuil {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  background-color: #2c3e50;
  align-items: center;
  padding: 1rem 2rem;
  }

.header-text-stat-acceuil{
  color: rgb(167, 162, 162);
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.button-stat-acceuil {
   text-align: center;  
   display: inline-block;   
   height: 50px;
   width: 230px;     
   margin: 10px;
   margin-right : 70px;
   background-color: #3030305a;
   color: rgba(246, 240, 240, 0.577);
   font-size: 20px;
   font-weight: bold;
   padding-top: 28px;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 8px;
   text-decoration: none;
   transition: all 0.3s ease;
   border: none;
   cursor: pointer;
   box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.372)
}

.button-stat-acceuil:hover {
    background-color: #3030308e;   
    box-shadow: 0 4px 12px rgba(224, 227, 231, 0.3);
}
.stat-content{
  width: 100%;
  position: absolute;  
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  margin-top: -33%;
  justify-content: center;
  gap: 2rem;
  padding: 5rem; 
}

.stat-page-content {
  position: absolute;  
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  margin-top: -45%;
  justify-content: center;
  gap: 2rem;
  padding: 5rem; 
}

.stat-page-card {
  margin: 40px;  
  border-radius: 20px;
  background-color: #55585b;
  color: white;
  padding: 1.5rem;
  width: 400px;
  height: 400px;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;  
  position: relative;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.372)
}

.stat-page-card:hover {
  transform: translateY(-5px);
}

.stat-card-content {
  margin-top: 10px;
  margin-bottom: 30px;
}

.stat-card-p {
  font-size: 24px;
  font-weight: bold;
  color: #babdbd;
  margin: 0;
}

.image-container {
  position: relative;
  z-index: 2;
}

.stat-image {  
  align-content: space-around;
  margin-left: 14%;
  margin-right: 30%;
  height: 290px;
  width: 300px;  
  border-radius: 15px; 
  transition: transform 0.3s ease;
  opacity: .6; 
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.372);
}

.stat-image:hover {
  transform: scale(1.05);
  opacity: 0.8;
  cursor: pointer;
  opacity: 1;  
}
