.custom-date-selector {
  display: flex;
  gap: 5px;
}

.date-select-component {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  min-width: 80px;
  font-size: 20px;
}

.date-input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date-filter-main-container {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
  align-items: center;    
  border-radius: 8px;  
  padding-right: 15px;
  border: solid 2px;
  border-radius: 10px;
  border-color: rgba(246, 240, 240, 0.577);
}
.date-filter-container{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;  
  padding: 5px; 
  border-radius: 8px;
}
.buttonContainer{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.date-search-button, .date-reset-button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.date-search-button {
  background-color: #4CAF50;
  color: white;
}

.date-search-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.date-reset-button {
  background-color: #f44336;
  color: white;
}