/* Styles pour les icônes de points sur la carte */
.ship-icon {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ship-icon img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

/* Style pour la couleur du bateau */
.ship-color {
  background-color: var(--ship-color);
  mask: url(../../assets/shipSVG.svg) no-repeat center / contain;
  -webkit-mask: url(../../assets/shipSVG.svg) no-repeat center / contain;
}

/* Animation qui alterne entre la couleur définie et le noir */
.blink-icon .ship-color {
  animation: colorToBlack 0.5s ease-in-out infinite alternate;
}

@keyframes colorToBlack {
  0% {
    background-color: var(--ship-color); /* Utilise la couleur définie */
  }
  100% {
    background-color: #1c1a1a; /* Passe au noir */
  }
}

/* Supprime l'arrière-plan par défaut de divIcon */
.ship-icon-container {
    background: none !important;
}

/* Mettre les marqueurs avec médias au premier plan */
.media-marker-icon {
    z-index: 1000 !important;
}

/* Mettre les marqueurs sans médias en arrière-plan */
.no-media-marker-icon {
    z-index: 1 !important;
}

/* Assurer que les marqueurs Leaflet avec des icônes clignotantes sont au premier plan */
.leaflet-marker-icon:has(.blink-icon) {
    z-index: 1000 !important;
}

.my-custom-popup {
  background: #fffbe6;
  border-radius: 8px;
  padding: 10px;
  color: #222;
}
.my-custom-popup strong {
  color: #d2691e;
}

.leaflet-popup-content-wrapper {
  background: #fffbe6 !important;      /* Couleur de fond personnalisée */
  border-radius: 12px !important;      /* Coins arrondis */
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.372)!important;
  border: 3px solid #ff8000 !important;
  padding: 0 !important;  
}

/* Pour le texte à l'intérieur du popup */
.leaflet-popup-content {
  color: #222 !important;
  font-size: 18px !important;
  font-family: 'Arial', sans-serif !important;
  padding: 12px 18px !important;
    user-select: none !important;
  }

  .leaflet-popup-close-button {
    user-select: none !important;
}
.view-images-button {
  background-color: #1976d2 !important;
  color: #fff !important;
  border-radius: 6px !important;
  font-weight: bold !important;
  margin: 4px 0 !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.372)
}
.view-images-button:hover {
  background-color: #d2691e !important;
}
.video-view-button {
  background-color: #1976d2 !important;
  color: #fff !important;
  border-radius: 6px !important;
  font-weight: bold !important;
  margin: 4px 0 !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.372)
}
.video-view-button:hover {
   background-color: #d2691e !important;
}