@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.2; }
}

.landing-page-close-blink {
    animation: blink 1s linear infinite;
}
.landing-page {    
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;   
}

.welcome-message { 
    position: absolute;   
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 2;
    width: 40%;
    height: 20%;
    margin-bottom: 40%;
    margin-left: 50%;
    margin-top: 10%;
}
.paragaphe1{
    
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    text-align: right; 
    text-shadow:  1px 2px rgba(222, 211, 211, 0.5);  
}
.text1{
    margin-top: 20px;
     margin-bottom: 20px;
}
.paragraphe2{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.577);
    font-size: 30px;   
    margin: 0;
    text-align: right;
}
.text2{
    margin-top: 20px;
    margin-bottom: 20px;
  
}
.boat-image-container {
    width: 100%;
    height: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}


.Landingimage{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 130%;
  box-sizing: border-box; 
  z-index: 1;   
}

.button-container {
    margin-top: 2rem;
    width: fit-content;
    
}

.enter-button {
    display: inline-block;
    margin-right: 0;
    background-color: #3030305a;
    color: rgba(255, 255, 255, 0.577);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.372)
}

.enter-button:hover {
    background-color: #3030308e;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.3);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .welcome-title {
        font-size: 2.5rem;
    }
    
    .welcome-subtitle {
        font-size: 1.5rem;
    }
    
    .welcome-message {
        font-size: 1rem;
    }
    
    .enter-button {
        font-size: 1rem;
        padding: 0.8rem 1.6rem;
    }
}