.scaled-content-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.scaled-content {
    position: relative;
    transform-origin: center top;
}